---
export const prerender = false;

import Layout from '@layouts/Layout.astro';
import PlayersContainer from '@components/player/PlayersContainer.vue'

const {playername} = Astro.params
let finalplayername:string = "" 

if(playername!=undefined){
	finalplayername = playername?.toString()
}
---

<Layout title="Caracantosmeaos Club: Plantilla" isindex={false} description='Caracantosmeaos C.F Web oficial: Plantilla' 
	keywords='fifa, eafc, fifa23, fifa24, eafc24, club, pro, clubespro, proclubs, caracantosmeaos, eltrueno, el_trueno, inicio, plantilla, jugadores'>
	<meta slot="metadata" property="og:url" content="https://www.caracantosmeaos.club/plantilla"/>
	<meta slot="metadata" property="og:image" content="https://www.caracantosmeaos.club/escudo_banner_fondo.jpg"/>
	<meta slot="metadata" name="twitter:url" content="https://www.caracantosmeaos.club/plantilla"/>
	<meta slot="metadata" name="twitter:image" content="https://www.caracantosmeaos.club/escudo_banner_fondo.jpg"/>


	<header class="container mx-auto mb-10">
		<h1 class="text-primary font-bold text-3xl text-center mt-8 p-8">Nuestra plantilla</h1>
		<h2 class="font-bold text-2xl text-center">Contamos con una plantilla competitiva, que cree en nuestros valores y lucha por nuestro escudo, ese es nuestro secreto</h2>
	</header>
	<section >
		<container class="flex p-8 lg:p-16 justify-center items-center">
			<PlayersContainer client:visible transition:persist transition:persist-props detailPlayerName={finalplayername}/>
			</container>
	</section>

</Layout>

