---
export const prerender = false;

import MatchesContainer from '@/components/match/MatchesContainer.vue';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Caracantosmeaos Club: Partidos" isindex={false} description='Historial y estadísticas de nuestros últimos partidos' 
	keywords='fifa, eafc, fifa23, fifa24, eafc24, club, pro, clubespro, proclubs, caracantosmeaos, eltrueno, el_trueno, inicio, partidos, stats'>
	<meta slot="metadata" property="og:url" content="https://www.caracantosmeaos.club/partidos"/>
	<meta slot="metadata" property="og:image" content="https://www.caracantosmeaos.club/escudo_banner_fondo.jpg"/>
	<meta slot="metadata" name="twitter:url" content="https://www.caracantosmeaos.club/partidos"/>
	<meta slot="metadata" name="twitter:image" content="https://www.caracantosmeaos.club/escudo_banner_fondo.jpg"/>


	<header class="container mx-auto mb-10">
		<h1 class="text-primary font-bold text-3xl text-center mt-8 p-8">Partidos</h1>
		<h2 class="font-bold text-2xl text-center">Aquí se muestra el historial de nuestros últimos partidos</h2>
	</header>
	<section >
		<container class="flex p-6 lg:p-16 justify-center items-center">
            <MatchesContainer client:visible/>
		</container>
	</section>

</Layout>
